/* 礼物分类导航 */

body {
    background: #f5f5f5;
}

.birthday .index a {
    display: inline-block;
    font-size: 12px;
    color: #666666;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.birthday .index span {
    display: inline-block;
    color: #666666;
    padding: 0 10px;
    font-size: 12px;
}

.birthday {
    width: 100%;
    height: 60px;
    line-height: 21px;
}

.mydiy {
    height: 60px;
}

.index {
    width: 100%;
    padding: 20px 0;
}

.qq-btn {
    width: 86px;
    height: 18px;
    border: 2px solid #979795;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
}

.f-phone {
    display: inline-block;
    padding: 0 10px;
    color: #666;
    font-size: 12px;
}

.f-a {
    margin-right: 100px;
}


/* 分类 */

.class-price {
    width: 100%;
    height: 217px;
    background: #fff;
    padding: 2px 0;
    margin-bottom: 50px;
}

.class-price .classify {
    width: 100%;
    height: 68px;
    padding: 20px 0;
}

.class-price .price {
    width: 100%;
    height: 69px;
    border-top: 1px solid #ededed;
    padding: 20px 0;
}

.class-price .classify dt,
.class-price .price dt {
    width: 85px;
    padding: 20px 0;
    line-height: 28px;
}

.class-price .classify dd,
.class-price .price dd {
    max-width: 1020px;
    height: 28px;
    line-height: 28px;
    padding: 20px 0;
}

.class-price .classify dd .focus,
.class-price .price dd .focus {
    color: #d93732;
}

.class-price .classify dd a,
.class-price .price dd a {
    height: 26px;
    padding: 0 6px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}


/* 中部分类 */

.middle {
    width: 100%;
    height: 4946px;
}

.middle .sorts .focus {
    color: #d93732;
}

.cat-title {
    height: 21px;
    padding: 20px 0;
}

.cat-title .sorts a {
    padding: 0 10px;
    display: inline-block;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.cat-title .sorts span {
    display: inline-block;
    color: #d4d4c7;
}

.filters a {
    width: 14px;
    height: 14px;
    line-height: 14px;
    background: #fff;
    border: 1px solid #c3c3c3;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
}

.filters span {
    margin-right: 40px;
    display: inline-block;
}


/* 商品列表 */

.cat-list {
    background: #f5f5f5;
}

.cat-list li {
    width: 225px;
    height: 327px;
    float: left;
    background: #fff;
    padding: 30px;
    margin-top: 20px;
    position: relative;
}

.cat-list li a img {
    display: block;
    width: 225px;
    height: 225px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.cat-list .com-diy .can-diy {
    border: 1px solid #6e6e6e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 3px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.cat-list .link-img {
    display: block;
    width: 225px;
    height: 225px;
    position: relative
}

.cat-list .dn {
    opacity: 1;
}

.cat-list .diypic {
    z-index: 1;
    opacity: 1;
}

.c-diypic {
    z-index: 2;
    opacity: 1;
    display: block;
}

.cat-list .can-diy.isdiy {
    border-color: #e45b55;
    background: #e45b55;
    color: #fff;
}

.cat-list li img {
    vertical-align: middle;
    position: absolute;
}

.cat-list li .cont-focus {
    /* display: none; */
    opacity: 0;
}

.c-focus {
    display: block;
    z-index: 2;
    opacity: 0;
}

.cat-list li a img.cont {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    z-index: 1;
}

.cat-list li .cat-name {
    max-width: 225px;
    margin-top: 20px;
    overflow: hidden;
}

.cat-list .com-diy {
    display: block;
    height: 20px;
    margin-top: 20px;
    color: #666;
    font-size: 12px;
    text-align: right;
}

.cat-list .com-diy span {
    color: #666;
    font-size: 12px;
    text-align: right;
}


/* 分页 */

.pages {
    display: block;
    height: 34px;
    padding: 40px 0;
    text-align: center;
}

.pages a.prev {
    background-position: -182px 0;
}

.pages .page-list li {
    float: left;
}

.pages a.current {
    background: #a4a4a4;
    color: #fff;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
}

.pages a.next {
    background-position: -192px 0;
}

.pages a {
    width: 34px;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    color: #a9a9a9;
    font-size: 18px;
    margin: 0 15px;
}

.pages .prev,
.pages .next {
    width: 9px;
    height: 16px;
    margin-top: 4px;
    background: url(../img/5.png);
}

.pages .page-list li:first-child {
    width: 34px;
    height: 34px;
}


/* 送礼策划 */

.cat-article {
    height: 302px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 0 100px 0;
    overflow: hidden;
    margin-top: 31px;
    background: #fff;
    position: relative;
    margin-bottom: 50px;
}

.cat-article .more {
    position: absolute;
    right: 85px;
    bottom: 40px;
}

.cat-article .icon-bg {
    display: inline-block;
    width: 17px;
    height: 10px;
    background: url(../images/sprite.png);
    margin-left: 5px;
    margin-top: -3px;
    background-position: -232px -161px;
    vertical-align: middle;
}

.cat-article .clear {
    height: 152px;
}

.cat-article .clear .tit {
    width: 280px;
    text-align: center;
}

.cat-article .clear .tit p {
    line-height: 1;
    font-size: 22px;
    text-align: center;
}

.cat-article .clear .tit .pic {
    margin-top: 15px;
}

.cat-article .clear .tit-right {
    width: 810px;
    margin-right: 90px;
}

.cat-article .clear .tit-right h1 {
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
}

.cat-article .clear .tit-right .word {
    margin-top: 10px;
}

.cat-article .clear .tit-right strong {
    text-indent: 28px;
}

.cat-article .clear .tit-right span {
    color: #333;
    font-size: 14px;
    text-align: justify;
}

.festival {
    width: 1062px;
    height: 124px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.festival p {
    font-size: 16px;
    margin: 40px 0 0 30px;
}

.festival .fed-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1026px;
    height: 90px;
    border: 1px solid #e2e2e2;
    padding: 20px 30px;
    margin: 10px 0 0 30px;
}

.festival .fed-content a {
    margin-right: 15px;
    display: inline-block;
    line-height: 24px;
}

.festival .up {
    position: absolute;
    bottom: 40px;
    right: 85px;
}

.festival .up .icon-bg {
    display: inline-block;
    width: 17px;
    height: 10px;
    background: url(../images/sprite.png);
    margin-left: 5px;
    margin-top: -3px;
    background-position: -232px -151px;
    vertical-align: middle;
}

.footer{
    background: #fff;
}

/* 鼠标移入变化 */

.birthday .index a:hover {
    color: #d93732;
}

.birthday .index span:hover {
    color: #aedacc;
}

.cat-list .can-diy:hover {
    border-color: #e85c5d;
    outline: 0;
}

.cat-list li:hover {
    -webkit-box-shadow: 0 0 10px 1px #aedacc;
    -moz-box-shadow: 0 0 10px 1px #aedacc;
    box-shadow: 0 0 10px 1px #aedacc;
    color: #d93732;
}

.cat-list li img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.pages .current:hover {
    color: #fff;
}

.pages a:hover {
    color: #d93732;
}

.pages .prev:hover {
    background-position: -182px -16px;
}

.pages .next:hover {
    background-position: -192px -16px;
}

.footer .icons li:hover {
    color: #aedacc;
}

.footer .left a:hover {
    color: #d93732;
}

.footer .right a:hover {
    color: #d93732;
}