body {
    background: #f5f5f5;
}

.birthday .index a {
    display: inline-block;
    font-size: 12px;
    color: #666666;
    padding: 0 2px;
}

.birthday .index span {
    display: inline-block;
    color: #666666;
    padding: 0 10px;
    font-size: 12px;
}

.currentloc {
    background: url(../img/christmas1.png) center center no-repeat;
    height: 550px;
    background-color: #f5f5f5;
}

.birthday {
    width: 100%;
    height: 40px;
    line-height: 21px;
}

.index {
    width: 100%;
    padding-top: 20px;
}

.birthday .phone {
    background: red;
}

.qq-btn {
    width: 86px;
    height: 18px;
    border: 2px solid #979795;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.f-phone {
    display: inline-block;
    padding: 0 10px;
    color: #666;
    font-size: 12px;
}

.f-a {
    margin-right: 100px;
    line-height: 22px;
}

.christmas-img {
    position: relative;
    height: 500px;
    margin-top: 21px;
}

.christmas-img .give-him {
    display: block;
    width: 280px;
    height: 84px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
    top: 380px;
}

.christmas-img .give-her {
    height: 84px;
    width: 270px;
    position: absolute;
    margin-left: -475px;
    left: 50%;
    display: none;
    top: 380px;
}


/* 商品列表 */

.cat-list {
    background: #f5f5f5;
    padding: 15px 0 70px;
}

.cat-list li {
    width: 225px;
    height: 327px;
    float: left;
    background: #fff;
    padding: 30px;
    margin-top: 20px;
    position: relative;
}

.cat-list li i {
    position: absolute;
    right: 20px;
    top: 20px;
    font-style: normal;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    z-index: 9;
}

.cat-list .icon-bgr {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    width: 50px;
    height: 50px;
    background: url(../img/sprite.png);
    background-position: -250px -178px;
}

.cat-list li a img {
    display: block;
    width: 225px;
    height: 225px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.cat-list .com-diy .can-diy {
    border: 1px solid #6e6e6e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 3px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.cat-list .com-diy .can_diy {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 44px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #6e6e6e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 3px;
    font-size: 12px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.cat-list .link-img {
    display: block;
    width: 225px;
    height: 225px;
    position: relative
}

.cat-list .dn {
    opacity: 1;
}

.cat-list .diypic {
    z-index: 1;
    opacity: 1;
}

.c-diypic {
    z-index: 2;
    opacity: 1;
    display: block;
}

.cat-list .can-diy.isdiy {
    border-color: #e45b55;
    background: #e45b55;
    color: #fff;
}

.cat-list li img {
    vertical-align: middle;
    position: absolute;
}

.cat-list li .cont-focus {
    /* display: none; */
    opacity: 0;
}

.c-focus {
    display: block;
    z-index: 2;
    opacity: 0;
}

.cat-list li a img.cont {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    z-index: 1;
}

.cat-list li .cat-name {
    max-width: 225px;
    margin-top: 20px;
    overflow: hidden;
}

.cat-list .com-diy {
    display: block;
    height: 20px;
    margin-top: 20px;
    color: #666;
    font-size: 12px;
    text-align: right;
}

.cat-list .com-diy span {
    color: #666;
    font-size: 12px;
    text-align: right;
}


/* 送礼策划 */

.article {
    width: 1200px;
    height: 512px;
    background: #fff;
    position: relative;
}

.article .icon-bg {
    display: inline-block;
    width: 17px;
    height: 10px;
    background: url(../images/sprite.png);
    margin-left: 5px;
    margin-top: -3px;
    background-position: -232px -161px;
    vertical-align: middle;
}

.article .cat_article {
    padding: 50px 0 0 0;
    width: 1200px;
    height: 362px;
}

.article .article-l {
    width: 300px;
    height: 362px;
    text-align: center;
    float: left;
}

.article .article-l p {
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}

.article .article-l .m-t {
    margin-top: 15px;
}

.article .article-r {
    width: 810px;
    height: 315px;
    margin-right: 90px;
}

.article .article-r h1 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.article .article-r .word {
    margin-top: 10px;
    text-indent: 1em;
    font-size: 14px;
    text-align: justify;
}

.article .article-r .word a {
    color: #333;
    font-size: 14px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.article .more {
    position: absolute;
    bottom: 40px;
    right: 85px;
    font-size: 14px;
    color: #333;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.article .up {
    position: absolute;
    bottom: 40px;
    right: 85px;
    font-size: 14px;
    color: #333;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.article .more i {
    font-size: 16px;
}

.article .article-head {
    width: 810px;
    height: 21px;
    position: absolute;
    top: 255px;
    left: 300px;
}

.article .cont {
    display: none;
}

.article-list li,
.article-list1 li {
    list-style: none;
    float: left;
    width: 270px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.article-list,
.article-list1 {
    width: 810px;
    height: 146px;
    margin: 0;
    padding: 0;
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
    margin-right: 90px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.article-list li img,
.article-list1 li img {
    vertical-align: middle;
}

.article .a-list {
    float: right;
}


/* 收起更多 */

.festival {
    width: 1024px;
    height: 126px;
    float: right;
    margin-right: 90px;
    margin-top: 20px;
    font-size: 16px;
}

.festival span {
    display: block;
    font-size: 16px;
    width: 1026px;
    height: 24px;
}

.festival .fed-content {
    width: 964px;
    height: 48px;
    margin-top: 10px;
    border: 1px solid #e2e2e2;
    padding: 20px 30px;
}

.festival .fed-content a {
    margin-right: 16px;
    color: #333;
    font-size: 14px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.festival .icon-bg {
    display: inline-block;
    width: 17px;
    height: 10px;
    background: url(../images/sprite.png);
    margin-left: 5px;
    margin-top: -3px;
    background-position: -232px -151px;
    vertical-align: middle;
}

.footer {
    margin-top: 50px;
    background: #fff;
}


/* 鼠标移入 */

.birthday .index a:hover {
    color: #d93732;
}

.birthday .index span:hover {
    color: #aedacc;
}

.birthday .qq-btn:hover {
    color: #d93732;
    border-color: #d93732;
}

.cat-list li:hover {
    -webkit-box-shadow: 0 0 10px 1px #aedacc;
    -moz-box-shadow: 0 0 10px 1px #aedacc;
    box-shadow: 0 0 10px 1px #aedacc;
    color: #d93732;
}

.cat-list li .cat-name a:hover {
    color: #d93732;
}

.cat-list li img:hover {
    margin-top: 5px;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.cat-list li .fb:hover {
    color: #d93732;
}

.cat-list .can-diy:hover {
    border-color: #e85c5d;
    color: #e85c5d;
}

.cat-list .can_diy:hover {
    border-color: #e85c5d;
    color: #e85c5d;
}

.cat-list .isdiy:hover {
    color: #Fff;
}

.article .article-r .word a:hover {
    color: #d93732;
}

.article .more:hover {
    color: #d93732;
}

.article .up:hover {
    color: #d93732;
}

.festival .fed-content a:hover {
    color: #d93732;
}

.article-list li a:hover {
    color: #d93732;
}

.article-list1 li a:hover {
    color: #d93732;
}