.overhide{
    width: 100%;
    background-color: #f5f5f5;
}
.over-center{
    width: 1200px;
    margin:auto;
 
}
.center-left{
    float: left;
    width: 910px;
    height: 100%;
    margin:0 0 60px;
    background-color: #fff;
}
.center-right{
    float: right;
    width: 270px;
    background-color: #fff;
}
.consult-goodbox{
    padding:20px 0;
    text-align: center;
    color:#333;
    font-size: 14px;
}
.in-bear{
    margin-top: 10px;
}
.center-left .search{
    padding:50px;
    border-bottom:2px solid #f5f5f5;
}
.consult-list{
    padding:10px 80px;
}
.consult-list li{
    margin-top:40px;
    font-size: 16px;
    line-height:32px;
}
.consult-list .text-overflow{
    line-height:28px;
    font-size: 14px;
}
.page{
    border:0;
}
.pages-list{
    text-align: center;
}
.pages-list,.comment-list{
    display:none;
}