body{
	font: 14px/1.5 Arial,'Microsoft Yahei',STHeiti,sans-serif;
	color: #333;
}
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear:both;
	overflow: hidden;
	visibility: hidden;
}
.clearfix{
	*zoom: 1;
}
.md-getpassword{
	width: 690px;
	padding: 67px 0 125px 227px;
	margin: 180px auto;
}
.bg-fff{
	background-color: #fff;
}
.bg-f5f5f5{
	background: #f5f5f5;
}
.md-getpassword .step-reset {
    height: 350px;
    border-left: 1px solid #eee;
    padding-left: 115px;
}
.step-form{
	width: 402px;
	padding-top: 10px;
}
.rel{
	position: relative;
}
.icon-logo{
	width: 57px;
	height: 57px;
	border-radius: 57px;
	background-color: #d93732;
}
.md-getpassword .step-reset .icon-logo {
   position: absolute;
   left: -145px;
   top: 8px;
   }
.icon-bgr{
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
	background: url(../img/jlt.png) 0 0 no-repeat;
}
.icon-logo:hover{
	background: url(../img/jlt.png) -57px 0 no-repeat;
}
.m-t-10{
	margin-top: 10px;
}
.f24{
	font-size: 24px;
}
.fb{
	font-weight: 700;
}
.icon-success-sm {
    width: 40px;
    height: 32px;
    background:url(../img/jlt.png) -85px -208px no-repeat;
}
.md-getpassword .icon-success-sm {
    position: absolute;
    left: -55px;
    top: 2px;
}
.m-t-10 {
    margin-top: 10px;
}
.lh1 {
    line-height: 1;
}
.f16 {
    font-size: 16px;
}
.m-t-60{
	margin-top: 60px;
}
.f16{
	font-size: 16px;
}
.f-996c33 {
    color: #996c33;
}
a, a:active, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}
a:hover {
    color: #d93732;
}