body{
	font: 14px/1.5 Arial,'Microsoft Yahei',STHeiti,sans-serif;
	color: #333;
}
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear:both;
	overflow: hidden;
	visibility: hidden;
}
.clearfix{
	*zoom: 1;
}
.md-getpassword{
	width: 690px;
	padding: 67px 0 125px 227px;
	margin: 180px auto;
}
.bg-fff{
	background-color: #fff;
}
.bg-f5f5f5{
	background: #f5f5f5;
}
.md-getpassword .step-reset {
    height: 350px;
    border-left: 1px solid #eee;
    padding-left: 115px;
}
.step-form{
	width: 402px;
	padding-top: 10px;
}
.rel{
	position: relative;
}
.icon-logo{
	width: 57px;
	height: 57px;
	border-radius: 57px;
	background-color: #d93732;
}
.md-getpassword .step-reset .icon-logo {
   position: absolute;
   left: -145px;
   top: 8px;
   }
.icon-bgr{
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
	background: url(../img/jlt.png) 0 0 no-repeat;
}
.icon-bgr:hover{
	background: url(../img/jlt.png) -57px 0 no-repeat;
}
.m-t-10{
	margin-top: 10px;
}
.f24{
	font-size: 24px;
}
.fb{
	font-weight: 700;
}
p{
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
.m-t-60{
	margin-top: 60px;
}
.f16{
	font-size: 16px;
}
.m-t-15{
	margin-top: 15px;
}
.step-form .text {
    width: 390px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #eee;
    padding-left: 10px;
}
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}
p{
	margin: 0;
	padding: 0;
}
.lh1_5{
	height: 18px;
	line-height: 1.5
}
.f-d93732 {
    color: #d93732;
}
.f12 {
    font-size: 12px;
}
.ani-bg{
	transition-property:background;
	transition-duration:.3s;
}
.tc{
	text-align: center;
}
a{
	color:#333;
	transition-property: color;
	transition-duration: .3s;
}
.step-form .form-btn{
	display: inline-block;
	height: 48px;
	line-height: 48px;
	color: #fff;
	background-color:#d93732;
	border-radius: 3px;
}
.md-login a.btn-form:hover {
    color: #fff;
    background: #ed3d38;
}
a.form-btn:hover {
    color: #fff;
    background: #ed3d38;
}
.full{
	width: 100%;
}
a{
	text-decoration: none;
}
.tsk{
	position: fixed; 
	top:50%;
	left:50%;
	margin-left: -14px;
	margin-top: -146px;
	text-align: center;
	width: 188px;
	height: 73px;
	background-color: #fff;
}
.tsk .box1{
	height: 15px;
	width: 15px;
	top: -10px;
	left: -10px;
	background:url(../img/idialog_s.png) no-repeat;
}
.tsk .box2{
	height: 15px;
	width: 15px;
	top: -10px;
	right: -10px;
	background:url(../img/idialog_s.png) -15px 0 no-repeat;
}
.tsk .box3{
	height: 15px;
	width: 178px;
	top: -10px;
	left: 5px;
	background:url(../img/idialog_s.png) 0 -30px repeat-x;
}
.tsk .box4{
	height:61px;
	width: 10px;
	top: 5px;
	left: -10px;
	background:url(../img/idialog_s2.png) left top repeat-y;
}
.tsk .box5{
	height:61px;
	width: 10px;
	top: 5px;
	right: -10px;
	background:url(../img/idialog_s2.png) right bottom repeat-y;
}
.tsk .box6{
	height: 15px;
	width: 15px;
	top: 62px;
	left: -10px;
	background:url(../img/idialog_s.png) 0 -15px no-repeat;
}
.tsk .box7{
	height: 15px;
	width: 15px;
	top: 62px;
	right: -10px;
	background:url(../img/idialog_s.png) -15px -15px no-repeat;
}
.tsk .box8{
	height: 15px;
	width: 178px;
	top: 58px;
	left: 5px;
	background:url(../img/idialog_s.png) 0 -30px repeat-x;
}
.tsk .box{
	position: absolute;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	z-index: 1;
}
.tsk span{
	color:#333;
	font-size: 12px;
	line-height: 73px;
	padding: 20px 25px;
}
.dn{
	display: none;
}
.tsk_o{

	top:50%;
	left:50%;
	margin-left: -14px;
	margin-top: -146px;
	text-align: center;
	background-color: #fff;
	width: 397px;
	height: 73px;
	position:fixed;
}
.tsk_o .box1{
	height: 15px;
	width: 15px;
	top: -10px;
	left: -10px;
	background:url(../img/idialog_s.png) no-repeat;
}
.tsk_o .box2{
	height: 15px;
	width: 15px;
	top: -10px;
	right: -10px;
	background:url(../img/idialog_s.png) -15px 0 no-repeat;
}
.tsk_o .box3{
	height: 15px;
	width: 387px;
	top: -10px;
	left: 5px;
	background:url(../img/idialog_s.png) 0 -30px repeat-x;
}
.tsk_o .box4{
	height:61px;
	width: 10px;
	top: 5px;
	left: -10px;
	background:url(../img/idialog_s2.png) left top repeat-y;
}
.tsk_o .box5{
	height:61px;
	width: 10px;
	top: 5px;
	right: -10px;
	background:url(../img/idialog_s2.png) right bottom repeat-y;
}
.tsk_o .box6{
	height: 15px;
	width: 15px;
	top: 62px;
	left: -10px;
	background:url(../img/idialog_s.png) 0 -15px no-repeat;
}
.tsk_o .box7{
	height: 15px;
	width: 15px;
	top: 62px;
	right: -10px;
	background:url(../img/idialog_s.png) -15px -15px no-repeat;
}
.tsk_o .box8{
	height: 15px;
	width: 387px;
	top: 58px;
	left: 5px;
	background:url(../img/idialog_s.png) 0 -30px repeat-x;
}
.tsk_o .box{
	position: absolute;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	z-index: 1;
}
.tsk_o span{
	color:#333;
	font-size: 12px;
	line-height: 73px;
	padding: 20px 25px;
}
.dn_o{
	display: none;
}